:root {
  --light-blue: #dbf2fe;
  --mid-blue: #0884c1;
  --dark-blue: #066390;
  --light-red: #fde3df;
  --mid-red: #ed3f25;
  --dark-red: #c6321e;
  --white: #fff;
  --light-gray: #ebebf0;
  --mid-gray: #c4c4c8;
  --dark-gray: #919196;
  --light-black: #555;
  --mid-black: #2b2b2b;
  --dark-black: #000;
}
